CborArray bug with default values

**Describe the bug**
When a class with multiple default values is encoded into a ```CborArray``` with ```encodeDefaults = false```, the information about which value has changed from the default isn't preserved.

**To Reproduce**
```
@file:OptIn(ExperimentalSerializationApi::class)

import kotlinx.serialization.ExperimentalSerializationApi
import kotlinx.serialization.Serializable
import kotlinx.serialization.cbor.Cbor
import kotlinx.serialization.cbor.CborArray
import kotlinx.serialization.decodeFromByteArray
import kotlinx.serialization.encodeToByteArray

@Serializable
@CborArray
data class A(val a: Int = 0, val b: Int = 0)

fun main() {
    val instance = A(b = 1)
    val cbor = Cbor // Default settings
    println(cbor.decodeFromByteArray<A>(cbor.encodeToByteArray(instance))) // prints A(a=1, b=0)
}
```
```
@file:OptIn(ExperimentalSerializationApi::class)

import kotlinx.serialization.ExperimentalSerializationApi
import kotlinx.serialization.Serializable
import kotlinx.serialization.cbor.Cbor
import kotlinx.serialization.cbor.CborArray
import kotlinx.serialization.decodeFromByteArray
import kotlinx.serialization.encodeToByteArray

@Serializable
@CborArray
data class A(val a: Int = 0, val b: String = "")

fun main() {
    val instance = A(b = "Changed")
    val cbor = Cbor // Default settings
    println(cbor.decodeFromByteArray<A>(cbor.encodeToByteArray(instance))) // throws kotlinx.serialization.cbor.internal.CborDecodingException: Expected start of string, but found 43
}
```
Both tests work properly when I change ```val cbor = Cbor``` to ```
val cbor = Cbor {
    encodeDefaults = true
}```

**Expected behavior**
The first test should print A(a=0, b=1)
The second test should print A(a=0, b=Changed)

**Possible Solution**
Always encode all default values except (maybe) the last one when encoding to CborArray.
Maybe (to save space) instead encode some kind of placeholder? I don't know cbor well enough to know if it's possible.

**Environment**
 - Kotlin version: 2.1.20
 - Library version: 1.7.3
 - Kotlin platforms: Only tested on JVM
 - Gradle version: Not sure, 8+


There is some issue with the documentation that doesn't realise that for formats without value markers it is not valid to omit defaults as the reader will not be able to know the absence of such marker. (The never annotation is probably invalid in its semantics).

> Maybe (to save space) instead encode some kind of placeholder?

That's another option. There's a special pair of tag and value representing a hole inside CBOR array: `31(undefined)`, see https://www.iana.org/assignments/cbor-tags/cbor-tags.xhtml

I'm not sure how widespread this notation is and how such arrays will be interpreted by other CBOR parsers.

That way, resulting sequence size will be smaller (for every property with a default value wider than `Short`)

that is the "tricky to get right" part I have not spent time on and I don't know enough about how KxS works internally. I have only ever worked on formats. It's entirely possible that this problem is not just a bit tricky, but infeasible to solve in practice. Which would then mean that this bug is no bug at all, because you will always be able to generate a borked definition of a serializable class that will result in ambiguities.

> The approach I am pursuing for ASN.1 (albeit without having the time to implement it) is conceptually simple, but a bit tricky to get right: Outright refuse encoding that results in ambiguous data.

While employing a compile-time (or runtime, or somewhat in between) verification to ensure unambiguity of serialization sounds like a very exciting thing to implement, I would start from fixing the existing behavior in a more trivial way.

Trivial options are:
1) always encode default values
2) encode some extra metadata with information about omitted values
3) instead of encoding default values as they are, write some well known placeholder value
4) don't allow encoding/decoding objects with default values (just naming this option, but I'm not considering it).

The first option is the most straightforward one, but it may result in a longer output, and semantically it is not the same as using default values when it comes to deserialization. But we already have `EncodeDefault` with `Mode.ALWAYS`, and for `CborArray` that mode will be enforced implicitly.

The second option is somewhat acceptable (depending on how it will be implemented) as it does not contradict [RFC 8949, §5. Creating CBOR-Based Protocols](https://www.rfc-editor.org/rfc/rfc8949.html#name-creating-cbor-based-protoco) (again, depending on how it will be implemented), but it's definitely not the same as `@CborArray` as we know it right now.

The third option imply existence of some well-know placeholder for "missing" values, and `31(undefined)` seems to be it (or a t least, it seems to be a formally specified placeholder for missing values). But looking at other CBOR parsers, I don't really see it as a widely adopted encoding.

Note that the problem exists only when either a serializer, or deserializer are not kotlinx-serialization-based and are unaware of our very own protocol for default values. But such scenarios rule out all options except the first one.

@fzhinkin Fundamentally `EncodeDefault` is not quite formulated correctly. It fundamentally should depend on the format what to do, or whether a value should be encoded. In other words, `Mode.NEVER` would be invalid for some formats (in particular fixed size binary formats would be an example - think Android Parcelable).

Quick update: I've [implemented this for ASN.1](https://github.com/a-sit-plus/signum/blob/a0e92ccb4e6d704a4579de9af34793daf247deec/indispensable-asn1/src/commonMain/kotlin/at/asitplus/signum/indispensable/asn1/serialization/internal/AmbiguityChecks.kt) and the general logic is essentially the same for CBOR. This is a real, generic disambiguation checker that refuses serialization and deserialization for types that can result in ambiguities. It respects nullability and encodeDefaults configuration and it should be possible to externalise and generalise it for use by other formats. We are open do upstreaming it to kotlinx.serialization, but at the moment [more pressing things ](https://github.com/Kotlin/kotlinx.serialization/pull/3036#event-22274021190) need to be finished first.

(@whyoleg tagging you here too, because of the relation to our ASN.1 discussions)