Support for deterministically encoded CBOR RFC 8949 Section 4.2

**What is your use-case and why do you need this feature?**

I want to have canonical encodings to cross-test kotlin implementation of my program with implementations from other languages. Are there any plans to support Deterministic encoding of cbor as described in https://www.rfc-editor.org/rfc/rfc8949.html#section-4.2? 

**Describe the solution you'd like**

Either a annotation or function APIs in serializers that makes this easy to use. 

Related question, are the integers guaranteed to be minimally encoded? If I sort the keys in cbor map, am I guaranteed to follow 8949 spec?

Thanks for your response. Please ignore my comment about sorting the keys. I misquoted the RFC number.

Yes, you are right about your caveats. This is issue is specifically whether you can support RFC 7049 Section 3. with a simple option that addresses they caveats. For example, `go` implementation offers the [following ](https://pkg.go.dev/github.com/fxamacker/cbor/v2#CanonicalEncOptions)